[Unit]
Description=Update yt-dlp (YouTube changes weekly)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/yt-dlp -U
